# --- Application ---
APP_MESSAGE="Datastore API"
MAX_REQUEST_BODY_MB=50
DATASTORE_ENGINE=bigquery
REDIS_URL=
CKAN_URL=
LOG_LEVEL=INFO


# --- BigQuery backend ---
BIGQUERY_PROJECT=datopian-dx
BIGQUERY_CREDENTIALS=/Users/root/Downloads/google.json
BIGQUERY_CREDENTIALS_RO=/Users/root/Downloads/google_readonly.json
